body {
  background-color: white;
}

h1 {
  font-family: adobe-garamond-pro, serif;
  text-align: center;

}

h3 {
  margin-top:30px;
  margin-bottom:10px;
  font-family: adobe-garamond-pro, serif;
  font-size: 36px;
  font-weight: 600;
  font-style: italic;


}

.blog-posts {
  display:grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 3vw;
  margin: 0 auto;

}

.blog-card {
  background-color: white;
  padding: 20px 75px 20px 75px;
  max-width: 450px;
  min-height: 286px;
  -webkit-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.35);
  box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.35);
}

.date {
  float:right;
  position: relative;
  left: 50px;
  font-style: italic;
  font-weight: 200;

}

.blog-button {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width:733px){

.blog-posts {
  display:grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  }

  .blog-card {
    background-color: white;
    padding: 20px 40px 20px 40px;
    max-width: none;

  }

  .date {
    left:15px;
  }
