html{
  font-size: 10px;
  font-family: adobe garamond pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

body {
  display: block;
  margin: 0 auto;
  background-color: #444;
  /*width: 375px;
  height: 667px;*/
  font-size: 1.8rem;

}

p {
  line-height: 150%;
}

/* ELEMENTS */
.fullwidth {
  width:100vw;

}

.highlight {
  color: #caae7f;

}

.bold {
  font-weight: 600;
}

.center {
  display: block;
  margin: auto;
}

.headertext {
  text-align: center;
}

.centerobj {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.centertext {
  text-align: center;
}



.paddings{
  padding-left: 7vw;
  padding-right:7vw;
  padding-bottom:30px;

}

.clipcircle {
  clip-path: circle(60px at center);
}


.dropshadow {
  -webkit-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
}
/* HEADER */
.header {
  height: 10vw;
  padding:15px;
  z-index:2;

}

.logo {
  width: 8vw;
  float:left;
  position:relative;
  left:5.3vw;
  top:3%;
}

.hamburger {
  width: 23px;
  float: right;
  position: relative;
  top: 2vw;
  right: 7%;
  z-index: 2;
}

.navigation {
  font-family: adobe garamond pro, serif;
  font-weight: 400;
  font-style: normal;
  background-color:;
  float:right;
  position: relative;
  top: 15px;
  right: 5%;
  display: block;
  z-index: 1;

}

.navigation li{
  display: inline;
  margin: 20px;
  font-size: 1.6rem;
}

.navigation a:hover {
  color: #caae7f;
}

.navigation a {
  color: #000000;
  text-decoration: none;
};


/* BODY */


ul{
  list-style-type: disc;
  list-style-position: inside;
}

li {
  margin-bottom:10px;
}

section{
  background-color:#efefef;
  padding: 20px 7vw 20px 7vw;
  margin-bottom:30px;


}


.home {
  background: url('../img/homeimage.png');
  background-size: cover;
  background-position: 90%;
  background-repeat: no-repeat;
  height:100vh;
  /*margin-top: -5px;
  padding-top: 10px;*/

}

.learned {
  margin-top:30px;
  padding-left: 10vw;
  padding-right: 10vw;
  z-index: 1;
}

.initial-sketch{
  padding-top: 17px;
}


.dash-layout {
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap:2vw;
}

.preference-test img{
  height: 40vw;
  width:auto;
  max-height: 550px;
}


.doc-create{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.create-menu{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.hero {
  position: fixed;
  margin-top:100px;
  left:10%;

}


  .view-survey {
    display:block;
    margin:20px auto 10px auto;
  }


.verremockup {
  width:100vw;
  margin-left:-30px;
  margin-top:-20px;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, auto);

  justify-content: center;
}

.logos img{
  height: 110px;
}

nav {
  padding-top:10px;
}

.mywork {
  font-size: 1.6rem;
  position: absolute;
  bottom:20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}


.view-prototype-mobile {
  display: block;
  margin: 0 auto;
}

.work {
  background: linear-gradient(
    rgba(122,126,140,1),rgba(46,47,52,1)
    );
  background-size: 100vw;
  background-position: 20% 60%;
  background-repeat: no-repeat;
  height:100vh;
  font-size: 1.6rem;

}

.bg {

  position: fixed;
  top:80px;
  min-width: 800px;
  width: 130vw;
  z-index:0;

}

.info {
  position: fixed;
  bottom: 10%;
  left:7%;
  width:450px;
  font-size:1.4rem;
  font-weight: 400;
  z-index:1;
}

.questions {
  list-style-position: outside;
  list-style-type: disc;
  line-height: 130%;
  margin:30px 0px 0px 30px;
  width:30vw;
}

.questions-mobile {
  list-style-type: disc;
  list-style-position: inside;
}

.questions-mobile span {
  position:relative;
  margin-left: -5px;
}




.questions li {
  margin-bottom: 10px;
}

.questions li span{
  position:relative;
  left: -5px;
}

.casestudy {
  font-size:1.6rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  overflow-x: hidden;
  /* overflow-y: scroll;
  width: 375px;
  height: 667px;*/


}

.stats {
  display: flex;
  justify-content: center;

}

.statblocks {
  font-family: proxima nova, sans-serif;
  font-size: 1.2rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;

}

.statblocks li {
  background-color: black;
  width: 100px;
  height: 63px;
  text-align: center;
  padding: 10px 5px 35px 5px;
  list-style-type: none;
  margin-bottom: 0px;
}

.statblocks p {
  line-height: 120%;
}

.stat-text {
  padding-left: 7vw;
  padding-right: 7vw;
}

.color {
  width: 100px;
  height: 90px;
  text-align: center;
  padding: 0px 0px 10px 0px;
  display: grid;
  grid-template-rows: 85% auto;
  font-family: proxima nova, sans-serif;
  font-size:1.3rem;
  -webkit-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);


}

.colors {
  display: grid;
  grid-template-columns: repeat(3, auto);
  list-style-type: none;
  justify-content: center;
  grid-gap: 30px;

}

.colors-section {
  margin: 0px  0px 20px 0px;
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
}

button {
  background-color: #caae7f;
  border: none;
  color: #fff;
  font-family: proxima nova, sans-serif;
  font-size: 1.4rem;
  padding: 13px ;
  cursor: pointer;
  margin-top: 10px;
  width:150px;

}

button:hover{
  background-color: #9E8862;

}

.wireframe-sketch {
  height: 50vw;
  width:100vw;
  background-image: url('../img/wireframepages.png');
  background-size: 100vw;
  background-position: center;
  background-repeat: no-repeat;
}

.wireframe-pages {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 30px;
  margin: 30px;
}

.wireframe-pages img{
  width:40vw;

}

.main-priorities {
  list-style-position: inside;
  margin-top:10px;
  display:grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}

.refinement {
  width:100vw;
  background-color: black;
}
.refinement img{
  margin-bottom:1px;
  width:100vw;

}
.persona {
 display: grid;
 grid-template-columns: auto;

}

.persona ul {
  font-size: 1.8rem;
}

.persona li{
  margin-bottom: 15px;
}

.work button {
  position: relative;
  margin-top:15px;

}

.verrepreview {
  overflow-y: hidden;
  height:auto;
  width:100vw;

}
.verrepreview img{
  position: relative;
  margin-bottom: -10px;
  height: 60vw;



}

.comp-logo{
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 2;
  padding-top:10px;
  padding-bottom:10px;

}

.comp-logo img {
  width:15vw;
  height: auto;
}

.comp-analysis {
  padding-left: 0px;
  padding-right: 0px;
}

.comp-analysis img {
   height: 22vw;
   width:auto;
   max-height: 150px;
 }

.FILLER {
  width: 100vw; height:250px; background-color:blue
}

.tones p{
  padding: 0px 7vw;
  padding-bottom:20px;
}


.tone-header {
  padding: 24px 100vw 20px 7vw;

  font-family: proxima nova, sans-serif;
  font-weight: 600;
  font-size:1.8rem;
  width: 100vw;
}


.social {
  float:left;
  position: absolute;
  margin-left: 5vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2vw;
  width: 100px;
}


.social img {
  width: 6vw;
  max-width: 35px;
}

/*.contact {
  padding-left: 30px;
  padding-right: 30px;
}*/

.email {
  float: right;
  display: grid;
  grid-template-columns: auto auto;

}

.typography {
  width: 80vw;
  font-size: 3.2rem;
  display: block;
  margin: auto;
}

.icons {
  width:80vw;
  display:block;
  margin:30px auto;
}

.futura {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;

}

.museo {
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;

}

.button {
  display:grid;
  grid-template-columns: auto;
  justify-content: center;
}

.button img{
  width:80vw;
  max-width: 350px;
}

footer {
  background-color: #222;
  height:100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /*display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;*/
}

footer ul{
  list-style-type: none
}

input[type=text]{
  color: #c4c4c4;
  font-family: adobe garamond pro, serif;
  font-weight:400;
  font-style: italic;
  font-size: 1.4rem;
  height: 20px;
  width: 30vw;
  padding: 12px 0px 8px 8px;
  border: none;
}

input[type=submit] {
  width: 100%;
  background-color: #CAAE7F;
  border:none;
  font-family: adobe garamond pro, serif;
  font-weight:400;
  font-size: 1.4rem;
  color: white;
  padding: 12px 0px 8px 0px;
  margin-right: 5vw;
  width: 100px;
}


/* TEXT */

h1{
  font-family: proxima nova, sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
}

h2{
  font-family: proxima nova, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 4.8rem;
  font-weight: semibold;

}

h5 {
  font-family: proxima nova, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
}

h6{
  font-size: 1.8rem;
}

.proxima {
  font-family: proxima nova, sans-serif;
}

.divider {
  background-color: #222222;
  color:#ffffff;
  font-weight: normal;
  font-style:  normal;
  min-height: 110px;
  padding: 17px 25px 0px 25px;

}

.iteration {
  display: grid;
  grid-gap: 10px;
  margin-bottom:50px;
 }

 .iterations{
   padding
 }

.final-header {
  min-height: 30px;
  background-color: #aaa;
  text-align: center;
}

.final-mockup {
  width:120vw;
  margin-left: -12vw;
}

@media (max-width:667px){
  .dropshadow{
    -webkit-box-shadow: 0px 0px 00px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 00px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  }

  .hero h1{
    font-size:10vw;
  }

  .hero h2{
    font-size:5vw;
  }

  .navigation{
    display: none;
  }

  .seemywork {
    visibility: hidden;
  }

  .view-prototype-desktop {
    visibility: hidden;

  }

  .desktop {
    position: fixed;
    visibility: hidden;
  }

  .tones {
    margin-top: -30px;
  }


   .iteration-header {
     width: 100%;
     text-align: center;

   }


   .iteration {
    justify-items: center;
   }

   .final-iteration-img {
     height: 60vw;
     display: block;
     margin: 0 auto;
   }
    .final button {
      margin-bottom:40px;
    }

    .final .dropshadow{
      -webkit-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.75);
    }

}

@media (min-width: 667px) {
  p {
    font-size:1.8rem;
  }

  section{
    background-color:#efefef;
    padding: 20px 10vw 20px 10vw;

  }



  .fullwidth{
    max-width: 60%;
    display:block;
    margin: 30px auto;

  }



  .mobile {
    position: fixed;
    visibility: hidden;
  }

  .headertext {
    text-align: left;
  }

  .divider {
    padding-bottom: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .hero h1{
    font-size: 7.2rem;
  }
  .hero h2{
    font-size: 5vw;
  }

  .hamburger {
    display: none;
  }


  .paddings {
    padding-left: 10vw;
    padding-right: 10vw;

  }

  .logo{
  width:52px;
  left: 36px;
  z-index:1;

}

  .section-txt{
    max-width:500px;

  }

  .view-test {
    display: block;
    margin:0 auto;
  }

  .mywork {
    visibility: hidden;
  }

  .work {
    background: linear-gradient(
      rgba(122,126,140,1),rgba(46,47,52,1)
      );
    background-size: 100vw;
    background-position: right;
    background-repeat: no-repeat;
    height:100vh;
    font-size: 14px;}

  .bg{
    position: fixed;
    left: 30vw;
    top:80px;
    max-width: 1200px;
    z-index:0;
  }

  .intro {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));

  }

  .view-prototype-mobile {
    visibility: hidden;
  }

  .title {

      width: 400px;
    }

  .verremockup {
  /*  position: relative;*/
    margin-left:-30px;
    max-width: 1000px;
    margin-top:0px;

  }



  .verrepreview {
    max-height: 500px;
    width:100vw;
  }

  .verrepreview img{
    margin-left: 10vw;
    max-height:500px;
    padding-bottom: -30vw;

}

  .split{
   display: grid;
   grid-template-columns: auto auto;
   grid-gap:40px;
  }


  .view-survey {
    display:inline;
  }

  .stats {
    display: block;
    grid-template-columns: auto auto;
    width: 400px;


  }

  .stats h1 {
   font-size: 3.5vw;
   margin-top:10px;

  }

  .stats p {
    font-size: 1.5rem;
  }

  .statblocks {
    font-size: 1.2rem;
    grid-gap: 1vw;
  }


  .statblocks li {
    background-color: black;
    width: 18vw;
    max-width: 140px;
    height: 12vw;
    max-height: 120px;
    text-align: center;
    padding: 10px 5px 15px 5px;
    margin-bottom: 0px;

  }

  .statblocks p {
    line-height: 120%;
    position: relative;
    bottom: 0.5vw;
  }

  .stat-info {
    display:grid;
    grid-template-columns: auto auto;
  }

  .stat-text {
    width:35vw;
    padding-left: 5px;
    padding-right: 30vw;

  }

  .persona .headertext {
    text-align: center;
  }

  .comp-logo img{
    width: 13vw;
    height:auto;
    vertical-align: middle;
    max-width: 100px;
    margin-right:3vw;
  }

  .comp-analysis {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap:30px;
  }
  .comp-analysis .paddings{
    padding-left: 30px;
    padding-right: 30px;
  }

  .comp-analysis img {
     height: 17vw;
     width:auto;
     max-height: 130px;
  }

  .priorities{
    font-size: 1.8rem;
    display:grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 4vw;
  }

  .priorities h5 {
    text-align: center;
    margin-bottom: 15px;
  }

  .sketches {
    display:grid;
    grid-template-columns: repeat(3, auto);
    height:30vw;
  }

  .sketches img{
    height: 30vw;
  }

  .wireframe-sketch {
    height: 30vw;
  }

  .view-test {
    display:relative;
    padding-left: 10vw;
  }



  .refinement {
    display:grid;
    grid-template-columns: auto auto auto;
    width:100vw;
    height:9vw;
    overflow-y: hidden;
  }


  .refinement img{
    width: 34vw;
    margin: 0px;
  }

  .logos img {
    height: 12vw;
  }

 section {
   min-height: 130px;

 }

.iteration-header {
   min-height:30px;

 }

 .iteration {
   display: grid;
   grid-template-rows:auto;
   grid-gap: 10px;
   margin-bottom:50px;
   justify-items:center;
  }

.iteration img{
  padding-left: 10px;
  padding-right: 10px;
}

  .iterations {
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:100vw;
  }

.first {
  background-color: #e9e9e9;
  padding-bottom:50px;
}

.first section {
  background-color:#e9e9e9;
}

.second {
  background-color: #efefef;
  padding-bottom:50px;
}

.third {
  background-color: #e9e9e9;
  padding-bottom:50px;
}

.third section{
  background-color: #e9e9e9;
}

.final {

  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 10vw;
  margin-bottom: 30px;

}

.final-header {
  font-weight:400;
  margin-top: -50px;
}


.final-iteration-img {
  height: 40vw;

}

 .color {
   width: 150px;
   height: 130px;
   padding: 0px 0px 12px 0px;
   font-size:1.5rem;

 }

 .colors {
   display: grid;
   grid-template-columns: repeat(5, auto);
   list-style-type: none;
   justify-content: center;
   grid-gap: 30px;

}

  .typography {
    max-width:700px;
    font-size: 4.8rem;
    display: relative;
    margin: 0px;

  }

  .icons {
    max-width:1000px;
  }

  .buttons {
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap:30px;
  }

  .button img {
    width:30vw;
    max-width: 350px;
  }

  input[type=text]{
    color: #c4c4c4;
    font-family: adobe garamond pro, serif;
    font-weight:400;
    font-style: italic;
    font-size: 1.4rem;
    height: 20px;
    width: 30vw;
    max-width: 300px;
    padding: 12px 0px 8px 8px;
    border: none;
  }

  input[type=submit] {
    width: 100%;
    background-color: #CAAE7F;
    border:none;

    padding: 12px 0px 8px 0px;
    margin-right: 5vw;
    width: 100px;
  }

  .social {
    column-gap:1vw;
  }

  .tones {
    display: grid;
    grid-template-columns: repeat(3, auto) ;
    grid-gap:30px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .tone {
    width: 30vw;
  }

  .tones p{
    padding:0px 25px;
    padding-bottom: 15px;
  }

  .tone-header {
    padding: 15px 0px;
    width: 30vw;
    display: block;
    margin: 0 auto;
    text-align: center;
  }


  .doc-create {
  grid-column-start: 2;
  grid-row-start: 2;

  }

  .preference-text{
    padding-left: 2vw;
    padding-right:2vw;
    max-width: 400px;
    margin:auto auto;
  }

  .preference-test {
    display: grid;
    grid-template-columns: 40% auto;
    justify-content: center;
    grid-gap: 1vw;

  }

  .preference-test div{
 background-color: red;
  }



  .preference-test img{
    height: 22vw;

  }

  .preference-test .paddings {
    padding-left: 1vw;
    padding-right: 1vw;
  }

.final-mockup {
    max-width: 800px;
    margin:0 auto;
}
.learned {
  font-size: 2.4rem;
  line-height: 150%;
  padding-left: 17vw;
  padding-right: 17vw;
}

@media (min-width: 1440px) {
  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 4.8rem;
    font-weight: semibold;

  }

  h5 {
    font-family: proxima nova, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 150%;
  }

  h6{
    font-size: 2.2rem;
  }


  p {
    font-size:1.8rem;
    line-height: 26px;
  }

  .paddings {
    padding-left: 145px;
    padding-right: 145px;
  }

  .comp-logo {
    margin-right: 20vw;
  }

  .comp-logo img {
    margin-right: 2vw;
  }

  .preference-text{
    padding-left: 2vw;
    padding-right:2vw;
    max-width: 700px;
    margin:auto auto;
  }



}
