html{
  font-size: 10px;
  font-family: adobe garamond pro, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
}

body {
  display: block;
  margin: 100px auto;
  background-color: #444;
  width: 375px;
  height: 667px;
  font-size: 1.6rem;

}

p{
  line-height: 150%;
}

/* ELEMENTS */
.fullwidth {
  width:375px;
}

.highlight {
  color: #caae7f;

}

.bold {
  font-weight: 600;
}

.container{
  padding-left: 25px;
  padding-right:25px;
}
/* HEADER */
.logo {
  width: 30px;
  margin:5px 0px 0px 20px;
}

.hamburger {
  width: 23px;
  position: relative;
  top: -5px;
  left: 275px;
}



/* BODY */
.divider {
  background-color: #222;
  color:#ffffff;
  font-weight: normal;
  font-style:  normal;
  min-height: 110px;
  padding: 17px 25px 0px 25px;

}

section{
  background-color:#efefef;
  padding: 17px 25px 17px 25px;

}

.home {
  background: url('../img/homeimage.png');
  background-size: cover;
  background-position: 90%;
  background-repeat: no-repeat;
  height:667px;
  margin-top: -5px;
  padding-top: 10px;

}

.hero {
  display: block;
  margin: 75px 0px 0px 30px;
}

.mywork {
  font-size: 1.2rem;
  position: relative;
  bottom: -390px;

}

.work {
  background: url('../img/verrepreview.png'), linear-gradient(
    rgba(122,126,140,1),rgba(46,47,52,1)
    );
  background-size: 375px;
  background-position: 20% 60%;
  background-repeat: no-repeat;
  height:667px;
  font-size: 14px;
  margin-top: -5px;
  padding-top: 10px;

}

.info {
  padding: 30px;
  font-size:1.4rem;
  font-weight: 400;
}

.questions {
  list-style-position: outside;
  list-style-type: disc;
  line-height: 130%;
  position:relative;
  left:15px;
  display:block;
  margin:0 auto;
  width:280px;

}

.questions li {
  margin-bottom: 10px;
}

.questions li span{
  position:relative;
  left: -5px;
}

.casestudy {
  font-size:1.6rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fff;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  width: 375px;
  /*height: 667px;*/
  margin-top: -5px;
  padding-top: 10px;

}

.stats {
  position:relative;
  left:-12px
}
.statblocks {
  font-family: proxima nova, sans-serif;
  font-size: 1.2rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.statblocks li {
  background-color: black;
  width: 100px;
  height: 63px;
  text-align: center;
  padding: 20px 5px 25px 5px;
}



button {
  background-color: #caae7f;
  border: none;
  color: #fff;
  font-family: proxima nova, sans-serif;
  font-size: 1.4rem;
  padding: 13px ;
  cursor: pointer;
  margin-top: 10px;
  width:150px;

}

.priorities {
  list-style-position: outside;
  list-style-type: disc;
  line-height: 150%;
  display:grid;
  grid-template-columns: auto auto;
}

.work button {
  position:relative;
  bottom:-400px;
}

.verrepreview {
  overflow-y: hidden;
  height:275px;
}
.verrepreview img{
  position: relative;
  left:-150px;
  top: -110px;
}

.comp_logo{
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 15px;
  margin-bottom: 15px;
}

.FILLER {
  width: 100vw; height:250px; background-color:blue
}
/* TEXT */

h1{
  font-family: proxima nova, sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

h2{
  font-family: proxima nova, sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 4.8rem;
  font-weight: semibold;

}

h5 {
  font-family: proxima nova, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
}

h6{
  font-size: 1.8rem;
}
