body {
  background-color: white;
}

h1 {
  font-family: proxima-nova, serif;
  font-weight:400;
  text-align: center;
  color: #caae7f;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size:3rem;
}

p {
  font-family: adobe-garamond-pro, serif;
  font-weight:normal;
  font-style:italic;
  color:white;
}





.work-posts {
  width:80%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  position:relative;
  margin: 0px 10vw 200px 10vw;
;

}

.work-card {
  position:relative;
  background-color: #000;
  width:39vw;
  height:24vw;
  margin:0.5vw;
  overflow-y: hidden;
  overflow-x:hidden;
}


.work-button {
  text-decoration: none;
}

.work-card img {
  height: auto;
  width: 39vw;
  position:relative;
  vertical-align: middle;
  margin:0 auto;

}

.work-card:hover img{
  transition: .8s ease;
  background-color: #000;
  opacity: 0.3;
  
}

.work-card:hover .project-detail {
  opacity:1;
  transition:1s ease;
}

.project-detail {
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
 width:90%;
}

.project-detail:hover {
  opacity:1;
  transition: .5s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  display:block;

}



@media (max-width:733px){
.paddings {
   margin: none;
  }

.work-posts {
  display:grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;

  }

  .work-card {
    background-color: black;
    width: auto;
    height:50vw;
    position:relative;
    margin: 0 auto;
  }

  .work-card img{
    width:100%;
  }
